

<head>

  <meta charset="utf-8">
  <title>GPSMainWeb</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="/assets/all.min.css">
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/main.css">

  <link rel="icon" href="/assets/img/favicon.ico">





  <title>Login Inacap</title>
</head>
<body>

<div class="burbuja">
  <div class="burbuja2"></div>
</div>





<div class="container">
  <div class="container-center">

    <div class="container-flex">
      <div class="form">

        <div class="form-title">

          <div class="title-infy">
            <img src="assets/logo.png" alt="infy" width="22%">
            <br />
            <h1 class="infy" >GPSMAIN</h1>
          </div>
          <p>Inicia sesión!</p>
        </div>
        <!-- FORMULARIO FORM/INPUTS -->




        <form action="" method="post" >
        <div class="inputs">
          <i class="fas fa-envelope"></i>
          <input type="text" name="user" placeholder="Ingresa tu correo">
        </div>
        <div class="inputs">
          <i class="fas fa-lock"></i>
          <input type="password" name="pass" placeholder="Contraseña">
        </div>
        <input type="submit" value="Entrar" class="boton">
        </form>





        <div>
          <p>No estas Registrado? <a href="">Registrate Ahora</a></p>
          <p>O Sigue Nuestras Redes Sociales</p>

        </div>
        <!-- REDES SOCIALES -->
        <ul>
          <li>
            <div class="red">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
          </li>
          <li>
            <div class="red">
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </li>
          <li>
            <div class="red">
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
          </li>
          <li>
            <div class="red">
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </li>
        </ul>
      </div>




      <div class="container-formText">
        <div class="formText">

          <h2>GPSMAIN</h2>
          <p>INACAP, julio de 2019. La Universidad Tecnológica de Chile INACAP, a través de su Área Informática y Telecomunicaciones, firmó un convenio de colaboración con el Consorcio Internacional de Certificación de Seguridad de Sistemas de Información</p>
        </div>
      </div>
      <!-- CIERRE TEXTO FORMULARIO -->
    </div>
    <!-- CIERRE CONTAINER FLEX -->
  </div>
</div>


</body>

