<body>
<div class="d-flex" id="content-wrapper">
  <div class="w-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <h1 class="text-success">GPSMain</h1>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{nameBackoffice}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Mi perfil</a>
                <a class="dropdown-item" href="#">Suscripciones</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fin Navbar -->

    <!-- Page Content -->
    <div id="content" class="bg-grey w-100">
      <section class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-8">
              <h1 class="font-weight-bold mb-0">Bienvenido Backoffice</h1>
              <p class="lead text-muted">última información</p>
            </div>
            <div class="col-lg-3 col-md-4 d-flex">
              <button class="btn btn-success w-100 align-self-center">Descargar reporte</button>
            </div>
          </div>
        </div>
      </section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-body text-center">
                <span class="titulo">Listado De Flotas Asignadas</span>
                <table class="table table-striped mt-5 ">
                  <thead>
                  <tr>
                    <th scope="col">Modelo</th>
                    <th scope="col">Patente</th>
                    <th scope="col">GPS instalado</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let fleet of flotas">
                    <td>{{fleet.carName}}</td>
                    <td>{{fleet.patent}}</td>
                    <td *ngIf="fleet.gpsAssigned === null">No</td>
                    <td *ngIf="fleet.gpsAssigned != '' && fleet.gpsAssigned != null">Si</td>
                    <td *ngIf="fleet.gpsAssigned == null">
                      <h6 class="text-danger"><i class="fas fa-circle"></i></h6>
                    </td>
                    <td *ngIf="fleet.gpsAssigned != null">
                      <h6 class="text-success"><i class="fas fa-circle"></i></h6>
                    </td>
                    <td *ngIf="fleet.gpsAssigned != null">
                      <button (click)="gestionarFlota(fleet)" class="btn btn-success float-end">Gestionar Flota</button>
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Feb 2020', 'Mar 2020', 'Abr 2020', 'May 2020'],
      datasets: [{
        label: 'Nuevos usuarios',
        data: [50, 100, 150, 200],
        backgroundColor: [
          '#12C9E5',
          '#12C9E5',
          '#12C9E5',
          '#111B54'
        ],
        maxBarThickness: 30,
        maxBarLength: 2
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>
</body>
