<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Agregar Nuevo Gerente</span>
          <form (ngSubmit)="onCreate()" class="mt-3">
            <div class="mb-3">
              <input [(ngModel)]="newAccount.names" name="names" type="text" formControlName=""
                     class="form-control" placeholder="Nombres">
            </div>
            <div class="mb-3">
              <input [(ngModel)]="newAccount.surnames" name="surnames" type="text" formControlName=""
                     class="form-control" placeholder="apellidos">
            </div>
            <div class="mb-3">
              <input [(ngModel)]="newAccount.password" name="password" type="password" formControlName=""
                     class="form-control" placeholder="Password">
            </div>
            <div class="mb-3">
              <input [(ngModel)]="newAccount.mail" name="mail" type="email" formControlName=""
                     class="form-control" placeholder="Email">
            </div>
            <div class="mb-3">
              <button routerLink="/funciones/gerentes-control" class="btn btn btn-secondary btn-lg float-start">
                Volver
              </button>
              <button type="submit" class="btn btn btn-success btn-lg float-end">Aceptar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

