<body>
<div class="d-flex" id="content-wrapper">

  <!-- Fin sidebar -->

  <div class="w-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

            <a class="dropdown-item">{{name}} {{apellidos}}</a>



          </ul>

          <button class="btn btn-danger" type="submit"  [routerLink]="['/auth/login']" (click)="cerrarsesion()">Cerrar Sesión</button>
        </div>
      </div>
    </nav>
    <!-- Fin Navbar -->

    <!-- Page Content -->
    <div id="content" class="bg-grey w-100">

      <section class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-8 text-center">
              <h1 class=" mb-1">Bienvenido {{name}}{{apellidos}}</h1>
            </div>

            <div class="container text-center">


              <form (ngSubmit)="guardarClave()" class="form-inline position-relative d-inline-block my-2">

                <input [(ngModel)]="clientsecret" class="form-control m-sm-2" type="search" placeholder="Ingrese Codigo" aria-label="Buscar" name="clientSecret">

                <button class="btn btn-success m-sm-2" type="submit" > Agregar Codigo </button>

              </form>

            </div>

            <div class="container text-center">
              <button [routerLink]="['/panel/agregarEmpresa']" class="btn btn-danger m-sm-2 ">Registrar nueva empresa</button>
              <button [routerLink]="['/panel/eliminarEmpresa']" class="btn btn-danger m-sm-2">Eliminar empresa</button>

            </div>
          </div>
        </div>
      </section>

      <section class="bg-mix py-3">
        <div class="container">
          <div class="card rounded-0">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-6 d-flex stat my-3">
                  <div class="mx-auto">
                    <h6 class="text-muted">Total Empresas Registradas</h6>
                    <h3 class="font-weight-bold">{{this.empresas}}</h3>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex stat my-3">
                  <div class="mx-auto">
                    <h6 class="text-muted">Total Usuarios Registrados</h6>
                    <h3 class="font-weight-bold">{{this.usuarios}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
        integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Feb 2020', 'Mar 2020', 'Abr 2020', 'May 2020'],
      datasets: [{
        label: 'Nuevos usuarios',
        data: [50, 100, 150, 200],
        backgroundColor: [
          '#12C9E5',
          '#12C9E5',
          '#12C9E5',
          '#111B54'
        ],
        maxBarThickness: 30,
        maxBarLength: 2
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>
</body>


