<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de GPS</span>
          <button class="btn btn-success float-end" routerLink="/funciones/gps-agregar">Nuevo GPS</button>
          <table class="table table-striped mt-5 ">
            <thead>
            <tr>
              <th scope="col">iD GPS</th>
              <th scope="col">estado</th>
              <th scope="col">Instalación</th>
              <th scope="col">Opciones</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gps of gPSs">
              <td>{{gps._id}}</td>
              <td *ngIf="gps.isActive === true">GPS Activado</td>
              <td *ngIf="gps.isActive === false">GPS Desactivado</td>
              <td *ngIf="gps.isInstalled === true">GPS Instalado</td>
              <td *ngIf="gps.isInstalled === false">GPS no instalado</td>
              <td>
                <button (click)="eliminarGPS(gps)" class="btn btn-danger float-end">Eliminar</button>
              </td>
              <td *ngIf="gps.isActive === false">
                <button (click)="activarGPS(gps)" class="btn btn-outline-success">Activar</button>
              </td>
              <td *ngIf="gps.isActive === true">
                <button (click)="desactivarGPS(gps)" class="btn btn-outline-warning">Desactivar</button>
              </td>
            </tbody>
          </table>
        </div>
        <button routerLink="/panel/supervisor" class="btn btn btn-secondary btn-lg float-start"> Volver</button>
      </div>
    </div>
  </div>
</div>

