
<nav class="navbar navbar-expand-lg navbar-dark bg-danger ">
  <div class="container px-5">
    <a class="navbar-brand" href="/inicio/home"> Proyecto GPSMAIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Sobre nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contaco</a></li>
        <li class="nav-item"><a class="nav-link" href="/auth/login">Iniciar sesion</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-danger mb-2">Rastreo Satelital</h1>
          <hr>
          <p class="lead text-white mb-4">Nos encontramos preparados, en movimiento, buscando, explorando,
            creando tecnología para transformar las operaciones y ayudar en procesos
            de cambio complejos y en constante evolución.</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-outline-light btn-lg px-4" href="#">Saber mas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
        <h2 class="h4 text-center fw-bolder">Rastreo</h2>
        <p>Geolocalizamos tus flotas a nivel país para estar siempre en conocimiento de tus próximos movimientos.
          Conociendo exactamente los destinos y recorridos que requieras analizar en tiempo real.</p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
        <h2 class="h4  text-center fw-bolder" >Seguridad</h2>
        <p>Alertaremos a su personal de movimientos no deseados, accidentes en tránsito, intentos de uso no autorizados
          y más, para mantenerse a la vanguardia de condiciones inesperadas e incontrolables.</p>
      </div>
      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
        <h2 class="h4 text-center fw-bolder">Confianza</h2>
        <p>Capturamos los datos que sean requeridos para alimentar un DataWarehouse adaptado a cada negocio. Podrás
          analizar las vulnerabilidades y deficiencias a través de datos de tu propio negocio para potenciarlo y
          resaltar sobre la competitiva demanda de su mercado objetivo.</p>
      </div>
    </div>
  </div>
</section>
<!-- Pricing section-->
<section class="bg-light py-5 border-bottom">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h2 class="fw-bolder">Precios y planes a su medida y necesidades</h2>
      <p class="lead mb-0">Los planes son disponibles desde la contratación de 20 dispositivos en adelante.</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <!-- Pricing card free-->
      <div class="col-lg-6 col-xl-4">
        <div class="card mb-5 mb-xl-0">
          <div class="card-body p-5">
            <div class="small text-uppercase fw-bold text-muted">Plan básico</div>
            <div class="mb-3">
              <span class="display-5 fw-bold">CLP20.000</span>
              <span class="text-muted">/ por cuentas al mes.</span>
            </div>
            <ul class="list-unstyled mb-4">
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                <strong>5 supervisores. Ilimitados BackOffice</strong>
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Monitoreo de flotas en tiempo real
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Gestión de incidencias en rutas
              </li>
              <li class="mb-2 text-muted">
                <i class="bi bi-x"></i>
                Gestión de eventos no controlados
              </li>
              <li class="mb-2 text-muted">
                <i class="bi bi-x"></i>
                Control para horarios de uso permitio
              </li>
            </ul>
            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Solicitar plan</a></div>
          </div>
        </div>
      </div>
      <!-- Pricing card pro-->
      <div class="col-lg-6 col-xl-4">
        <div class="card mb-5 mb-xl-0">
          <div class="card-body p-5">
            <div class="small text-uppercase fw-bold">
              <i class="bi bi-star-fill text-warning"></i>
              Rastreo Profesional y Distribuido
            </div>
            <div class="mb-3">
              <span class="display-5 fw-bold">CLP15.000</span>
              <span class="text-muted">/ por cuentas al mes.</span>
            </div>
            <ul class="list-unstyled mb-4">
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                <strong>Cuentas ilimitadas</strong>
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Almacenamiento ilimitado de datos
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                10 KPI a elección
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Portal de reportería y métricas por KPI's
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Mismas disposiciones que en plan básico
              </li>
            </ul>
            <div class="d-grid"><a class="btn btn-outline-success" href="#!">Solicitar plan</a></div>
          </div>
        </div>
      </div>
      <!-- Pricing card enterprise-->
      <div class="col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body p-5">
            <div class="small text-uppercase fw-bold text-muted">Plan empresarial personal</div>
            <div class="mb-3">
              <span class="display-6 fw-bold ">Sujeto a evaluar</span>
            </div>
            <ul class="list-unstyled mb-4">
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                <strong>Cuentas ilimitadas</strong>
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                KPI's ilimitados
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Análisis de reportes y negocio específico a cada mercado
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Mismas disposiciones que en plan profesional
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Adaptaciones y mutaciones del proyecto conforme a requerimientos
              </li>
              <li class="mb-2">
                <i class="bi bi-check text-primary"></i>
                Adaptación del servicio a necesidades específicas del negocio
              </li>
            </ul>
            <div class="d-grid"><a class="btn btn-primary" href="#!">Contactar vendedor</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact section-->
<section class="bg-light py-5">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
      <h2 class="fw-bolder">Solicita una evaluación gratuita para tu negocio</h2>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <form>
          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                   data-sb-validations="required"/>
            <label for="name">Nombre completo</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" placeholder="name@example.com"
                   data-sb-validations="required,email"/>
            <label for="email">Dirección de correo</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
          </div>
          <!-- Phone number input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
            <label for="phone">Número de contacto</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
            <label for="message">Mensaje adicional (opcional)</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Form submission successful!</div>
              <br />
            </div>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Enviar petición</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-4 bg-dark">
  <div class="container px-5"><p class="m-0 text-center text-white">Proyecto GPSMain 2021 para postular al título de
    Ingeniería en Informática.</p></div>
</footer>
