<div class="container mt-5">
  <div class="row">
    <div class="">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Histórico de destinos</span>
          <table class="table table-striped w-100">
            <thead>
            <tr>
              <th class="mt-5">Inicio</th>
              <th scope="col">Final</th>
              <th scope="col">Fecha partida</th>
              <th scope="col">Fecha llegada</th>
              <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let viaje of viajes | paginate:{itemsPerPage:5,currentPage:p}">
              <td>{{viaje.partida.partida}}</td>
              <td>{{viaje.destino.destino}}</td>
              <td *ngIf="viaje.coordenadas.length > 0">{{viaje.coordenadas[0].dia}}/{{viaje.coordenadas[0].mes}}/2021 a
                las: {{viaje.coordenadas[0].hora}}:{{viaje.coordenadas[0].minuto}}:{{viaje.coordenadas[0].segundo}}Hrs.
              </td>
              <td *ngIf="viaje.coordenadas.length == 0">viaje aún no iniciado</td>
              <td *ngIf="viaje.destino.fin == true">{{viaje.coordenadas[viaje.coordenadas.length - 1].dia}}/{{viaje.coordenadas[viaje.coordenadas.length - 1].mes}}/2021 a
                las: {{viaje.coordenadas[viaje.coordenadas.length - 1].hora}}:{{viaje.coordenadas[viaje.coordenadas.length - 1].minuto}}:{{viaje.coordenadas[viaje.coordenadas.length - 1].segundo}}Hrs.</td>
              <td *ngIf="viaje.destino.fin == false">Viaje aún no finalizado</td>
              <td *ngIf="viaje.destino.fin == false">
                <button (click)="eliminarViaje(viaje)" class="btn btn-danger m-sm-2" type="submit">Eliminar</button>
              </td>
              <td *ngIf="viaje.destino.fin == true">
              </td>
            </tbody>
          </table>

          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <button routerLink="/panel/despacho/Ver" class="btn btn btn-secondary btn-lg float-start"> Volver</button>
      </div>
    </div>
  </div>
</div>
