<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de flotas</span>
          <button class="btn btn-success float-end" routerLink="/funciones/backoffice-agregar">Registrar nueva flota
          </button>
          <table class="table table-striped mt-5 ">
            <thead>
            <tr>
              <th scope="col">Nombre vehículo</th>
              <th scope="col">ID GPS asignado</th>
              <th scope="col">Patente</th>
              <th scope="col">Número chasis</th>
              <th scope="col">año</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fleet of fleets">
              <td>{{fleet.carName}}</td>
              <td *ngIf="fleet.gpsAssigned == null">
                <button class="btn btn-primary m-sm-2" type="submit">Asignar GPS Nuevo!</button>
              </td>
              <td *ngIf="fleet.gpsAssigned != null">
                {{fleet.gpsAssigned}}
              </td>
              <td>{{fleet.patent}}</td>
              <td>{{fleet.chassisNumber}}</td>
              <td>{{fleet.year}}</td>
              <td>
                <button (click)="eliminarFlota(fleet)" class="btn btn-danger m-sm-2" type="submit">Eliminar flota
                </button>
              </td>
              <td>
                <button (click)="removerGPS(fleet)" class="btn btn-warning m-sm-2" type="submit">Desvincular GPS
                </button>
              </td>
            </tbody>
          </table>
        </div>
        <button routerLink="/panel/supervisor" class="btn btn btn-secondary btn-lg float-start">Volver</button>
      </div>
    </div>
  </div>
</div>
