<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{titulo | uppercase}}}</span>


          <form class="mt-3" [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">

            <div class="mb-3">
              <input type="text" formControlName="nombre"
                     class="form-control" placeholder="Nombre">

              <div class="text-danger"
                   *ngIf="usuarioForm.get('nombre')?.hasError('required') &&  usuarioForm.get('nombre')?.touched">
                   <span>*El Nombre es Obligatorio</span>
             </div>
            </div>
            <div class="mb-3">
              <input type="text" formControlName="apellido"
                     class="form-control" placeholder="Apellido">


              <div class="text-danger"
                   *ngIf="usuarioForm.get('apellido')?.hasError('required') &&  usuarioForm.get('apellido')?.touched">
                <span>*El apellido es Obligatorio</span>
              </div>
            </div>
            <div class="mb-3">
              <input type="number" formControlName="edad"
                     class="form-control" placeholder="Edad">
              <div class="text-danger"
                          *ngIf="usuarioForm.get('edad')?.hasError('required') &&  usuarioForm.get('edad')?.touched">
              <span>*la Edad es Obligatoria</span>
            </div>

            </div>
            <div class="mb-3">
              <input type="text" formControlName="empresa"
                     class="form-control" placeholder="Empresa">
              <div class="text-danger"
                   *ngIf="usuarioForm.get('empresa')?.hasError('required') &&  usuarioForm.get('empresa')?.touched">
                <span>*la Empresa es Obligatoria</span>
              </div>
            </div>
<div class="mb-3">
<button routerLink="/listar-usuario" class="btn btn btn-secondary btn-lg float-start"> Volver</button>
<button type="submit" [disabled]="usuarioForm.invalid" class="btn btn btn-success btn-lg float-end">Aceptar</button>

</div>





          </form>



        </div>
      </div>
    </div>
  </div>
</div>
