<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado De acciones Usuario:</span>


          <table class="table table-striped mt-5 ">
            <thead>
            <tr>
              <th scope="col">Nombre del usuario </th>
              <th scope="col">Cargo</th>
              <th scope="col">accion</th>

              <th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>





            </tbody>
          </table>
        </div>
        <button routerLink="/panel/registro" class="btn btn btn-secondary btn-lg float-start"> Volver</button>
      </div>
    </div>
  </div>
</div>
