
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Agregar Nuevo dispositivo GPS?</span>

<p></p>
<p></p>
<p></p>
<p></p>
          <div class="mb-3">
            <button routerLink="/funciones/gps-control" class="btn btn btn-secondary btn-lg float-start"> Volver</button>
            <button type="submit" class="btn btn btn-success btn-lg float-end">Aceptar</button>

          </div>



        </div>
      </div>
    </div>
  </div>
</div>

