<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
<div class="container mt-5">

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">

          <span class="titulo">Listado de Empresas</span>

          <button class="btn btn-success float-end" routerLink="/panel/agregarEmpresas">Nueva Empresa</button>


          <table class="table table-striped mt-5 ">
            <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Nombre Encargado</th>

              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr >
             <td>vtr</td>
              <td>vtr@chile.cl</td>
              <td>vtr123</td>
              <td>Jason parraguez</td>

              <td>


                <button  class="btn btn-danger float-end" >Eliminar</button>


              </td>


            </tbody>
          </table>



        </div>


      </div>

    </div>



  </div>




</div>
